<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% if @user.avatar.attached? %>
  <p><%= image_tag @user.avatar.variant(resize: "500x500") %></p>
<% end %>

<% if @user.documents.attached? %>
  <h3>Shared documents:</h3>

  <% @user.documents.each do |document| %>
    <h5><%= document.filename %></h5>
    <%= link_to 'View', url_for(document) %>
    /
    <%= link_to 'Download', rails_blob_path(document, disposition: 'attachment') %>
  <% end %>
<% end %>

<br>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
